/**
 * Copyright (C) 2024 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



/* macros */
// bridge config (bridge_cfg_t)
#define bridge_cfg_t(id, chunksize, rx_int, tx_int) \
	int<8> = [ \
		id, \
		chunksize, \
		rx_int, \
		tx_int, \
	];
