/**
 * Copyright (C) 2024 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#ifndef SPI_DTS
#define SPI_DTS


/* macros */
// spi config (spi_cfg_t)
#define spi_cfg_t(dev_mode, sample_mode, data_order, prescaler) \
	int<8> = [ \
		dev_mode, \
		sample_mode, \
		data_order, \
		prescaler, \
	]


#endif // SPI_DTS
