#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menu "shell"
source init/shell/Kconfig
endmenu

menu "hidden"
	visible if 0
	config INIT_SHELL
		bool "shell"
		select LIB_READLINE
		select READLINE_HISTORY
		default y
endmenu
