#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menu "Commands"
	config INIT_HELP
	bool help

	config INIT_CD
	bool cd

	config INIT_LS
	bool ls

	config INIT_ECHO
	bool echo

	config INIT_CAT
	bool cat

	config INIT_MKDIR
	bool mkdir

	config INIT_RM
	bool rm

	config INIT_TEST
	bool test
endmenu
