#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



mainmenu "brickos configuration"

#
# processor type
#
# {{{
menu "processor"
	source "arch/Kconfig"
endmenu
# }}}

#
# kernel
#
# {{{
menu "kernel"
	source kernel/Kconfig
endmenu
# }}}

#
# device driver
#
# {{{
menu "device driver"
	source "driver/Kconfig"
endmenu
# }}}

#
# sys
#
# {{{
menu "sys"
	source "sys/Kconfig"
endmenu
# }}}

#
# libbrick
#
# {{{
menu "libbrick"
	source lib/Kconfig
endmenu
# }}}

#
# init
#
# {{{
menu "init"
	source init/Kconfig
endmenu
# }}}

#
# test
#
# {{{
menu "test"
	source test/integration/Kconfig
endmenu
# }}}

#
# build system
#
# {{{
menu "build system"
	# build type
	choice
		prompt "build type"

		config BUILD_DEBUG
			bool "debug"

		config BUILD_RELEASE
			bool "release"
	endchoice

	menu "hidden"
		visible if 0

		config BUILD_TYPE
			string "build type"
			default "debug" if BUILD_DEBUG
			default "release" if BUILD_RELEASE
	endmenu

	# AVR programmer
	menu "aVR programmer"
		depends on AVR

		config AVR_FUSER
			string "fuser"
			default "avrfuser"

		config AVR_PROG
			string "programmer"
			default "avrdude"

		config AVR_DEBUGGER
			string "debugger"
			default "avarice"

		choice
			prompt "programmer type"

			config AVR_DRAGON_JTAG
				bool "aVR Dragon JTAG"
				depends on ATMEGA1284P

			config AVR_DRAGON_ISP
				bool "aVR Dragon ISP"

			config AVR_STK500V2
				bool "sTK500v2"
		endchoice

		choice
			prompt "programmer port"

			config AVR_PROG_PORT_USB
				bool "usb"

			config AVR_PROG_PORT_UART
				bool "uart"
		endchoice

		config AVR_PROG_UART_DEV
			string "uart device"
			default "/dev/ttyUSB0"
			depends on AVR_PROG_PORT_UART

		config AVR_JTAG_BASE_CLOCK_HZ
			int "avr jtag clock [Hz]"
			default 1000000
			depends on AVR_DRAGON_JTAG

		menu "hidden"
			visible if 0

			config AVR_PROG_PORT
				string "programmer port"
				default "usb" if AVR_PROG_PORT_USB
				default AVR_PROG_UART_DEV if AVR_PROG_PORT_UART
				default "unknown programmer port"

			config AVR_PROG_DEBUG_ARGS
				string "programmer debug arguments"
				default "--debugwire" if AVR_DRAGON_ISP || AVR_STK500V2
				default "--dragon --jtag $(CONFIG_AVR_PROG_PORT) --jtag-bitrate $(shell echo '$(CONFIG_AVR_JTAG_BASE_CLOCK_HZ) / (4 * 1000)' | bc -q)kHz" if AVR_DRAGON_JTAG
				default ""

			config AVR_PROG_TYPE
				string "programmer"
				default "dragon_jtag" if AVR_DRAGON_JTAG
				default "dragon_isp" if AVR_DRAGON_ISP
				default "stk500v2" if AVR_STK500V2
				default "unkown programmer"
		endmenu
	endmenu

	# build tree
	config BUILD_TREE
		string "build tree"
		default "build/$(CONFIG_PROCESSOR)/$(CONFIG_BUILD_TYPE)"

	config CODE_COVERAGE
		bool "code coverage support"
		default n

	# toolchain prefixes
	config TOOLCHAIN_PREFIX
		string "target toolchain prefix"
		default "avr-" if AVR
		default ""

	menu "hidden"
		visible if 0

		config CC
			string CC
			default "$(CONFIG_TOOLCHAIN_PREFIX)gcc"

		config CXX
			string CXX
			default "$(CONFIG_TOOLCHAIN_PREFIX)g++"

		config AS
			string AS
			default "$(CONFIG_TOOLCHAIN_PREFIX)as"

		config AR
			string AR
			default "$(CONFIG_TOOLCHAIN_PREFIX)ar"

		config LD
			string LD
			default "$(CONFIG_TOOLCHAIN_PREFIX)ld"
	endmenu

	config HOSTTOOLCHAIN_PREFIX
		string "host toolchain prefix"
		default ""

	menu "hidden"
		visible if 0

		config HOSTCC
			string HOSTCC
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)gcc"

		config HOSTCXX
			string HOSTCXX
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)g++"

		config HOSTAS
			string HOSTAS
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)as"

		config HOSTAR
			string HOSTAR
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)ar"

		config HOSTLD
			string HOSTLD
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)ld"
	endmenu

	# toolchain flags
	menu "target flags"
		config CFLAGS
			string CFLAGS

		config CXXFLAGS
			string CXXFLAGS

		config CPPFLAGS
			string CPPFLAGS

		config ASFLAGS
			string ASFLAGS

		config LDFLAGS
			string LDFLAGS

		config LDLIBS
			string LDLIBS

		config ARCHFLAGS
			string ARCHFLAGS
	endmenu

	menu "host flags"
		config HOSTCFLAGS
			string HOSTCFLAGS

		config HOSTCXXFLAGS
			string HOSTCXXFLAGS

		config HOSTCPPFLAGS
			string HOSTCPPFLAGS

		config HOSTASFLAGS
			string HOSTASFLAGS

		config HOSTLDFLAGS
			string HOSTLDFLAGS

		config HOSTLDLIBS
			string HOSTLDLIBS

		config HOSTARCHFLAGS
			string HOSTARCHFLAGS
	endmenu
endmenu
# }}}
