mainmenu "janos configuration"

#
# processor type
#
menu "Processor type"
	source "arch/Kconfig"
endmenu

#
# kernel
#
menu "Kernel"
	source kernel/Kconfig
endmenu

#
# device driver
#
menu "Device driver"
	source "driver/Kconfig"
endmenu

#
# build system
#
menu "Build system"
	# build type
	choice
		prompt "Build type"

		config BUILD_DEBUG
			bool "debug"

		config BUILD_RELEASE
			bool "release"
	endchoice

	menu "Hidden"
		visible if 0

		config BUILD_TYPE
			string "Build type"
			default "debug" if BUILD_DEBUG
			default "release" if BUILD_RELEASE
	endmenu

	# build tree
	config BUILD_TREE
		string "build tree"
		default "build/$(CONFIG_PROCESSOR)/$(CONFIG_BUILD_TYPE)"

	# AVR programmer
	menu "AVR programmer"
		depends on AVR

		choice
			prompt "Programmer"

			config PROG_DRAGON_JTAG
				bool "AVR Dragon JTAG"
				depends on ATMEGA1284P

			config PROG_DRAGON_ISP
				bool "AVR Dragon ISP"

			config PROG_STK500V2
				bool "STK500v2"
		endchoice

		choice
			prompt "Programmer port"

			config PROG_PORT_USB
				bool "usb"

			config PROG_PORT_UART
				bool "uart"
		endchoice

		config PROG_UART_DEV
			string "Uart device"
			default "/dev/ttyUSB0"
			depends on PROG_PORT_UART

		menu "Hidden"
			visible if 0

			config PROG_PORT
				string "Programmer port"
				default "usb" if PROG_PORT_USB
				default PROG_UART_DEV if PROG_PORT_UART
				default "unknown programmer port"

			config PROG_DEBUG_ARGS
				string "Programmer debug arguments"
				default "--debugwire" if PROG_DRAGON_ISP || PROG_STK500V2
				default "--dragon --jtag $(CONFIG_PROG_PORT) --jtag-bitrate $(shell echo '$(CONFIG_CORE_CLOCK_HZ) / (4 * 1000)' | bc -q)kHz" if PROG_DRAGON_JTAG
				default ""

			config PROG
				string "Programmer"
				default "dragon_jtag" if PROG_DRAGON_JTAG
				default "dragon_isp" if PROG_DRAGON_ISP
				default "stk500v2" if PROG_STK500V2
				default "unkown programmer"
		endmenu
	endmenu

	# toolchain prefixes
	config TOOLCHAIN_PREFIX
		string "Target toolchain prefix"
		default "avr-" if AVR
		default ""

	menu "Hidden"
		visible if 0

		config CC
			string CC
			default "$(CONFIG_TOOLCHAIN_PREFIX)gcc"

		config CXX
			string CXX
			default "$(CONFIG_TOOLCHAIN_PREFIX)g++"

		config AS
			string AS
			default "$(CONFIG_TOOLCHAIN_PREFIX)as"

		config AR
			string AR
			default "$(CONFIG_TOOLCHAIN_PREFIX)ar"

		config LD
			string LD
			default "$(CONFIG_TOOLCHAIN_PREFIX)ld"
	endmenu

	config HOSTTOOLCHAIN_PREFIX
		string "Host toolchain prefix"
		default ""

	menu "Hidden"
		visible if 0

		config HOSTCC
			string HOSTCC
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)gcc"

		config HOSTCXX
			string HOSTCXX
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)g++"

		config HOSTAS
			string HOSTAS
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)as"

		config HOSTAR
			string HOSTAR
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)ar"

		config HOSTLD
			string HOSTLD
			default "$(HOSTCONFIG_TOOLCHAIN_PREFIX)ld"
	endmenu

	# toolchain flags
	menu "Target flags"
		config CFLAGS
			string CFLAGS

		config CXXFLAGS
			string CXXFLAGS

		config CPPFLAGS
			string CPPFLAGS

		config ASFLAGS
			string ASFLAGS

		config LDFLAGS
			string LDFLAGS

		config LDRFLAGS
			string LDRFLAGS

		config ARCHFLAGS
			string ARCHFLAGS
	endmenu

	menu "Host flags"
		config HOSTCFLAGS
			string HOSTCFLAGS

		config HOSTCXXFLAGS
			string HOSTCXXFLAGS

		config HOSTCPPFLAGS
			string HOSTCPPFLAGS

		config HOSTASFLAGS
			string HOSTASFLAGS

		config HOSTLDFLAGS
			string HOSTLDFLAGS

		config HOSTLDRFLAGS
			string HOSTLDRFLAGS

		config HOSTARCHFLAGS
			string HOSTARCHFLAGS
	endmenu
endmenu
