#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



#
# vfprintf
#
# {{{
if KERNEL_LOG || LIB_STREAM
	config PRINTF_MINIMAL
		bool "minimalistic printf (disable long and exotic specifiers)"

	if !PRINTF_MINIMAL
		config PRINTF_LONG
			bool "enable support for printf 'l' (long) specifier"

		config PRINTF_LONGLONG
			bool "enable support for printf 'll' (long long) specifier"
			select PRINTF_LONG

		config PRINTF_INTMAX
			bool "enable support for printf 'j' (intmax_t) specifier"

		config PRINTF_SIZET
			bool "enable support for printf 'z' (size_t) specifier"

		config PRINTF_PTRDIFF
			bool "enable support for printf 't' (ptrdiff_t) specifier"

		config PRINTF_LONGDOUBLE
			bool "enable support for printf 'L' (long double) specifier"
			depends on !NOFLOAT
	endif # PRINTF_MINIMAL
endif # KERNEL_LOG || LIB_STREAM
# }}}

#
# fonts
#
# {{{
menuconfig FONTS
	bool "fonts"

if FONTS
	source "sys/fonts/Kconfig"
endif
# }}}

#
# miscellaneous
#
# {{{
config NAME_MAX
	int "maximum name length"
	default 16
	range 4 4096

menu "hidden"
	visible if 0

	config SYS_RINGBUFFER
		bool "ring buffer"
		default n

	config SYS_LINEBUFFER
		bool "line buffer"
		default n

	config SYS_PATTERN_MATCH
		bool "pattern matching api"
		default n
endmenu
# }}}
