#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



#
# vfprintf
#
# {{{
if KERNEL_PRINTF || LIB_STREAM
	config PRINTF_MINIMAL
		bool "Minimalistic printf (disable long and exotic specifiers)"

	if !PRINTF_MINIMAL
		config PRINTF_LONG
			bool "Enable support for printf 'l' (long) specifier"

		config PRINTF_LONGLONG
			bool "Enable support for printf 'll' (long long) specifier"
			select PRINTF_LONG

		config PRINTF_INTMAX
			bool "Enable support for printf 'j' (intmax_t) specifier"

		config PRINTF_SIZET
			bool "Enable support for printf 'z' (size_t) specifier"

		config PRINTF_PTRDIFF
			bool "Enable support for printf 't' (ptrdiff_t) specifier"

		config PRINTF_LONGDOUBLE
			bool "Enable support for printf 'L' (long double) specifier"
			depends on !NOFLOAT
	endif # PRINTF_MINIMAL
endif # KERNEL_PRINTF || LIB_STREAM
# }}}

#
# fonts
#
# {{{
menuconfig FONTS
	bool "Fonts"

if FONTS
	source "sys/fonts/Kconfig"
endif
# }}}

#
# miscellaneous
#
# {{{
config NAME_MAX
	int "Maximum name length"
	default 16
	range 4 4096

menu "Hidden"
	visible if 0

	config SYS_RINGBUFFER
		bool "Ring buffer"
		default n

	config SYS_LINEBUFFER
		bool "Line buffer"
		default n

	config SYS_PATTERN_MATCH
		bool "Pattern matching api"
		default n
endmenu
# }}}
