#
# Copyright (C) 2019 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_ESP8266
	bool "esp8266 wlan driver"
	select KERNEL_NET
	select KERNEL_SIGNAL
	select KERNEL_INTTASK
	select SYS_PATTERN_MATCH
	select DRIVER_UART

if DRIVER_ESP8266
	config ESP8266_LINK_COUNT
		int "number of supported links"
		default 5

	config ESP8266_DEBUG
		bool "enable debug messages"
		depends on KERNEL_MSG_DEBUG
		default n
endif # DRIVER_ESP8266
