/**
 * Copyright (C) 2024 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


i2c0 = {
	compatible = "rp2040,i2c";

	/* i2c hardware (dt_data_t) */
	baseaddr = 0x40044000;
	int<8> = [ 3 ];			// reset id (i2c0)

	i2c-bus0 = {
		compatible = "i2c";

		/* i2c config (i2c_cfg_t) */
		int<16> = [ 100 ];	// clock (100kHz)
		int<8> = [
		   1,				// broadcast (enabled)
		   18,				// address
#if defined(CONFIG_DRIVER_SSD1306) \
 || defined(CONFIG_DRIVER_MCP23017) \
 || defined(CONFIG_DRIVER_BME280)
		   0,				// interrupt
#else
		   39,				// interrupt
#endif // CONFIG_DRIVER_SSD1306
		];

#ifdef CONFIG_I2C_RAW
# include "../common/i2c0-raw.dts"
#endif // CONFIG_I2C_RAW

#ifdef CONFIG_DRIVER_BME280
# include "../common/bme280.dts"
#endif // CONFIG_DRIVER_BME280

#ifdef CONFIG_DRIVER_MCP23017
# include "../common/mcp23017.dts"
#endif // CONFIG_DRIVER_MCP23017

#ifdef CONFIG_DRIVER_SSD1306
# include "../common/ssd1306.dts"
#endif // CONFIG_DRIVER_SSD1306
	};
};
