/**
 * Copyright (C) 2024 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>
#include <i2c.dts>
#include <rp2040.dts>


i2c0 = {
	compatible = "rp2040,i2c";

	rp2040_i2c_dtd(
		0x40044000,
		3			// reset id (i2c0)
	)

	i2c-bus0 = {
		compatible = "i2c";

		i2c_cfg_t(
			100,	// clock (100kHz)
			18,		// address
#if defined(CONFIG_DRIVER_SSD1306) \
 || defined(CONFIG_DRIVER_MCP23017) \
 || defined(CONFIG_DRIVER_BME280)
			0		// interrupt
#else
			39		// interrupt
#endif // CONFIG_DRIVER_SSD1306
		)

#ifdef CONFIG_I2C_RAW
# include "../common/i2c0-raw.dts"
#endif // CONFIG_I2C_RAW

#ifdef CONFIG_DRIVER_BME280
# include "../common/bme280.dts"
#endif // CONFIG_DRIVER_BME280

#ifdef CONFIG_DRIVER_MCP23017
# include "../common/mcp23017.dts"
#endif // CONFIG_DRIVER_MCP23017

#ifdef CONFIG_DRIVER_SSD1306
# include "../common/ssd1306.dts"
#endif // CONFIG_DRIVER_SSD1306
	};
};
