/**
 * Copyright (C) 2024 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


uart0 = {
	compatible = "rp2040,uart";

	/* uart hardware (dt_data_t) */
	baseaddr = 0x40034000;	// uart0 register base

	int<8> = [
		22,					// reset id
		36,					// hardware interrupt
		42,					// virtual rx interrupt
		43,					// virtual tx interrupt
	];

	// cfg (uart_cfg_t)
	int<32> = [ 115200 ];	// baudrate
	int<8> = [
		0,					// stop bits (1)
		0,					// parity (UART_PARITY_NONE)
		3,					// csize (UART_CS_8)
	];

#ifdef CONFIG_DRIVER_TERM
	tty0 = {
		compatible = "terminal";

		/* terminal config (term_cfg_t) */
		int<8> = [
			0x0,			// iflags (none)
			0x2,			// oflags (TOFL_NLCR)
			0x0,			// lflags (none)
			0,				// tabs
		];

		int<16> = [
			0,				// lines (set by the driver)
			0,				// columns (set by the driver)
		];

# ifdef CONFIG_KERNEL_LOG
		klog = {
			compatible = "kernel,log";
		};
# endif // CONFIG_KERNEL_LOG
#endif // CONFIG_DRIVER_TERM
	};
};
