#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_GPIO
	bool "gpio driver"
	select KERNEL_DEVFS
	select SC_SIGNAL
	select AVR_GPIO if AVR
	select X86_GPIO if X86

if DRIVER_GPIO
	choice
		prompt "gpio register width"

		config GPIO_INT_WIDTH_8
			bool "8 bit"

		config GPIO_INT_WIDTH_16
			bool "16 bit"

		config GPIO_INT_WIDTH_32
			bool "32 bit"

		config GPIO_INT_WIDTH_64
			bool "64 bit"
	endchoice

	config GPIO_DEBUG
		bool "enable debug messages"
		depends on KERNEL_MSG_DEBUG
		default n

	menu "hidden"
		visible if 0

		config GPIO_INT_WIDTH
			int "gpio register width"
			default 8	if GPIO_INT_WIDTH_8
			default 16	if GPIO_INT_WIDTH_16
			default 32	if GPIO_INT_WIDTH_32
			default 64	if GPIO_INT_WIDTH_64
			default 8
	endmenu
endif # DRIVER_GPIO
