#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_GPIO
	bool "gpio driver"
	select KERNEL_DEVFS
	select SC_SIGNAL
	select AVR_GPIO if AVR
	select RP2040_GPIO if ARM_CHIP_RP2040
	select X86_GPIO if X86

if DRIVER_GPIO
	config GPIO_PIN
		bool "pin device support"
		default n

	config GPIO_PORT
		bool "port device support"
		default y

	config GPIO_INTFWD
		bool "interrupt forwarding support"
		default n

	config GPIO_DEBUG
		bool "enable debug messages"
		select KERNEL_LOG_DEBUG
		default n

	menu "hidden"
		visible if 0

		config GPIO_INT_WIDTH_8
			bool "8 bit"

		config GPIO_INT_WIDTH_16
			bool "16 bit"

		config GPIO_INT_WIDTH_32
			bool "32 bit"

		config GPIO_INT_WIDTH_64
			bool "64 bit"

		config GPIO_INT_WIDTH
			int "gpio register width"
			default 8	if GPIO_INT_WIDTH_8
			default 16	if GPIO_INT_WIDTH_16
			default 32	if GPIO_INT_WIDTH_32
			default 64	if GPIO_INT_WIDTH_64
	endmenu
endif # DRIVER_GPIO
