#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_GPIO
	bool "GPIO driver"
	select KERNEL_DEVFS

if DRIVER_GPIO

	config GPIO_DEBUG
		bool "Enable debug messages"
		depends on KERNEL_MSG_DEBUG
		default n
endif # DRIVER_GPIO
