#
# Copyright (C) 2019 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



config EEFC_WAITSTATE
	int "Number of read/write wait states"
	range 1 16
	default 1
