/**
 * Copyright (C) 2024 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <memory.dts>


// TODO missing tests
//	- type: asserts
//	- type: lists
//	- arithmetic: using lists
//	- data type limits
//	- different integer sizes

devicetype{
	string compatible = "default";
	int8 i = 1;
	addr p = 0x10;
} dev_single;

devicetype{
	string compatible = "default";
	int16 i[2] = [ 4, 2 ];
	string s[3] = [ "f", "o", "o" ];
	addr p[2] = [ 0xdead, 0xbeef ];
} dev_array;



/* test included type */
flash = memory(base=0x10000000, size=2097152);

/* test type default attributes */
def-0 = dev_single();
def-1 = dev_single(compatible="def-1");
def-2 = dev_single(i=2);
def-3 = dev_single(p=0x20);
def-4 = dev_single(compatible="def-4", i=3, p=0x30);

def-5 = dev_array(i=[1, 2]);
def-6 = dev_array(s=["b", "a", "r"]);
def-7 = dev_array(p=[0xbad, 0xe1f]);
def-8 = dev_array(compatible="def-8", i=[3, 4], s=["n", "o", "p"], p=[0x1, 0x2]);

/* test trailing comma in node arguments */
trailing-comma = dev_single(i=3,);

/* test attribute updates */
updates = dev_single(compatible="initial", i=1, p=0x1);

updates.compatible = "reset";
updates.compatible += "-add";

updates.i = 10;
updates.p = 0x20;
updates.p += (++updates.i);
updates.i += 2 + 3;
updates.p++;

update-consumer = dev_single(
	i = (++updates.i),
	p = (updates.i++),
);

/* test arithmetics */
donor = dev_single(compatible="donation0", i=42, p=0xbe00);

arith-const = dev_single(
	compatible = "some" + "-" + "arith",
	i = 1 + 2 + 3,
	p = 0xb000 + 0xe00 + 0xe0 + 0xf,
);

ref-bare = dev_single(
	compatible = donor.compatible,
	i = donor.i,
	p = donor.p,
);

arith-ref = dev_single(
	donor-child = dev_single(compatible="donation1", i=1, p=0xef),

	compatible = "pre," + donor.compatible + "-arith-" + donor-child.compatible,
	i = 1 + donor.i + 2 + donor-child.i,
	p = 0x1 + donor-child.p + donor.p + 0x1,
);
