/**
 * Copyright (C) 2024 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <memory.dts>


// TODO missing tests
//	- type: asserts (for memory and device nodes)

devicetype{
	string compatible = "default";
	int8 i = 1;
	addr p = 0x10;

	assert("i == 0", "i wrong");
} dev_single;

devicetype{
	string compatible = "default";
	int16 i[3] = [ 0, 4, 2 ];
	string s[4] = [ "f", "o", "o", " " ];
	addr p[3] = [ 0xdead, 0xbeef, 0x0 ];
} dev_array;

devicetype{
	string compatible = "default";
	int16 i[1];
	string s[2];
	addr p[1];
} dev_array_short;


/* test included type */
flash = memory(base=0x10000000, size=2097152);

/* test type default attributes */
// single-value devices
def-0 = dev_single();
def-1 = dev_single(compatible="def-1");
def-2 = dev_single(i=2);
def-3 = dev_single(p=0x20);
def-4 = dev_single(compatible="def-4", i=3, p=0x30);

// array devices
def-5 = dev_array(i=[1, 2, 3]);
def-6 = dev_array(s=[" ", "b", "a", "r"]);
def-7 = dev_array(p=[0xbad, 0xe1, 0xf]);
def-8 = dev_array(compatible="def-8", i=[3, 4, 5], s=["n", "o", "o", "p"], p=[0x1, 0x2, 0x3]);

// trailing comma in node arguments
trailing-comma = dev_single(i=3,);

/* test attribute operations */
// single-value devices
upd-single = dev_single(compatible="initial", i=1, p=0x1);

upd-single.compatible = "reset";
upd-single.compatible += "-add";

upd-single.i = 10;
upd-single.p = 0x20;
upd-single.p += (++upd-single.i);
upd-single.i += 2 + 3;
upd-single.p++;

update-consumer = dev_single(
	i = (++upd-single.i),
	p = (upd-single.i++),
);

// array devices
upd-array = dev_array();

upd-array.i = [ 1 ] + [ 1 + 1 ] + [ 2 ];
upd-array.s = [ "b" ] + [ "b" + "a", "r" ] + [ "0" ];

/* test arithmetics */
// single-value devices
donor-single = dev_single(compatible="donation0", i=42, p=0xbe00);

arith-const-single = dev_single(
	compatible = "some" + "-" + "arith",
	i = 1 + 2 + 3,
	p = 0xb000 + 0xe00 + 0xe0 + 0xf,
);

bare-ref-single = dev_single(
	compatible = donor-single.compatible,
	i = donor-single.i,
	p = donor-single.p,
);

arith-ref-single = dev_single(
	donor-child-single = dev_single(compatible="donation1", i=1, p=0xef),

	compatible = "pre," + donor-single.compatible + "-arith-" + donor-child-single.compatible,
	i = 1 + donor-single.i + 2 + donor-child-single.i,
	p = 0x1 + donor-child-single.p + donor-single.p + 0x1,
);

// array devices
donor-array = dev_array(compatible="donation0", i=[1, 3, 4], p=[0x0, 0xbe, 0xef], s=["d", "o", "n", "o"]);

arith-const-array = dev_array(
	i = [ 0x7 ] + [ 0x8 + 0x1, 0xa ],
	p = [ 0xbe00 ] + [ 0xe0 ] + [ 0xf ],
	s = [ "fo" + "o", " " ] + [ "b" ] + [ "ar" ],
);

bare-ref-array = dev_array(
	compatible = donor-array.compatible,
	i = donor-array.i,
	p = donor-array.p,
	s = donor-array.s,
);

arith-ref-array = dev_array(
	donor-child-array = dev_array_short(compatible="donation1", i=[4], p=[0xa], s=["a", "b"]),

	p = [ 0xa ] + donor-child-array.p + [ 0xb ],
	s = [ "ab" ] + donor-child-array.s + [ "c" ],
	i = [ 1 ] + donor-child-array.i + [ 2 ],
);

/* error cases */
devicetype{
	// invalid type
//	int8 compatible;

	// missing attribute
	string compatible;
} error_type;

error_single = dev_single(
	// attribute already defined
//	i = 10, i = 20,

	// incompatible types
//	i = "foo",
//	i = [ 1 ],
//	i = 1 + "f",

	// type limits
//	i = 256,
);

error_array = dev_array(
	// incompatible types
//	i = 1 + [ 1 ],
//	i = "foo",
//	i = 1,

	// incompatible array sizes
//	p = [ 0, 1],
//	p = donor-child-array.p,

	// type limits
//	i = [ 0, 65536, 0 ],
);
