/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <gpio.dts>


#ifndef HEARTBEAT_PIN
# error "heartbeat pin not defined"
#endif

heartbeat = {
	compatible = "kernel,heartbeat";

	/* heartbeat config (dt_data_t) */
	int<8> = [ HEARTBEAT_PIN ];	// pin
	int<16> = [
		0x0505,					// wave
		200,					// period [ms]
	];
};
