/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



loop0 = {
	compatible = "loop,block";

	/* loop config (loop_cfg_t) */
	int<16> = [ 32 ];	// buffer size
};
