/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



loop0 = {
	compatible = "loop,term";

	/* loop config (loop_dt_data_t) */
	int<16> = [ 256 ];	// buffer size

	tty-loop0 = {
		compatible = "terminal";

		/* terminal config (term_loop_cfg_t) */
		int<8> = [
			0x0,		// iflags (none)
			0x0,		// oflags (none)
			0x0,		// lflags (none)
		];

		string = "";	// font name
		baseaddr = 0x0;	// font pointer (set by the driver)
	};
};
