/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


mcp0 = {
	compatible = "mcp23017";

	/* mcp23017 port config (dt_data_t) */
	// port-a number
	int<8> = [ 0 ];		// port, set by the driver

	// port-a port config (gpio_cfg_t)
	int<CONFIG_GPIO_INT_WIDTH> = [
		1,				// mode (normal)
		0xff,			// pin mask
		0xff,			// in mask
		0x00,			// out mask
		0x00,			// int mask
		0xff,			// invert mask (inverted)
		0,				// interrupt
	];

	// port-a i2c devfs dev config (i2c_dev_cfg_t)
	int<8> = [ 39 ];	// slave address

	// port-a i2c address
	baseaddr = 0x0;		// i2c device, cf. i2c_t, set by the driver

	// port-b number
	int<8> = [ 0 ];		// port, set by the driver

	// port-b port config (gpio_cfg_t)
	int<CONFIG_GPIO_INT_WIDTH> = [
		1,				// mode (normal)
		0xff,			// pin mask
		0x00,			// in mask
		0xff,			// out mask
		0x00,			// int mask
		0xff,			// invert mask (inverted)
		0,				// interrupt
	];

	// port-b i2c devfs dev config (i2c_dev_cfg_t)
	int<8> = [ 39 ];	// slave address

	// port-b i2c address
	baseaddr = 0x0;		// i2c device, cf. i2c_t, set by the driver

	gpio-mcp0 = {
		compatible = "gpio,multi-dev";

		int<8> = [ 2 ];	// nports
	};
};
