/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>
#include <gpio.dts>


mcp-porta = {
	compatible = "mcp23017";

	/* mcp23017 port config (dt_data_t) */
	int<8> = [
		0,			// port (a)
		33,			// slave address
		0,			// interrupt
	];

	gpio-mcp0a = {
		compatible = "gpio,port";

		gpio_cfg_t(
			0x00,	// in_mask
			0xff,	// out_mask
			0x00,	// int_mask
			0xff,	// invert_mask
			0		// interrupt
		);
	};
};

mcp-portb = {
	compatible = "mcp23017";

	/* mcp23017 port config (dt_data_t) */
	int<8> = [
		1,			// port (b)
		33,			// slave address
		39,			// interrupt (virtual)
	];

	gpio-mcp0b = {
		compatible = "gpio,port";

		gpio_cfg_t(
			0xff,	// in mask
			0x00,	// out mask
			0xff,	// int mask
			0xff,	// invert mask
			41		// interrupt (virtual)
		);
	};
};
