/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


mcp-porta = {
	compatible = "mcp23017";

	/* mcp23017 port config (dt_data_t) */
	int<8> = [
		0,	// port (a)
		33,	// slave address
	];

	gpio-mcp0a = {
		compatible = "gpio,port";

		/* gpio config (gpio_cfg_t) */
		int<CONFIG_GPIO_INT_WIDTH> = [
			1,		// mode (normal)
			0xff,	// pin mask
			0x00,	// in mask
			0xff,	// out mask
			0x00,	// int mask
			0xff,	// invert mask (inverted)
			0,		// interrupt
		];
	};
};

mcp-portb = {
	compatible = "mcp23017";

	/* mcp23017 port config (dt_data_t) */
	int<8> = [
		1,	// port (b)
		33,	// slave address
	];

	gpio-mcp0b = {
		compatible = "gpio,port";

		/* gpio config (gpio_cfg_t) */
		int<CONFIG_GPIO_INT_WIDTH> = [
			1,		// mode (normal)
			0xff,	// pin mask
			0xff,	// in mask
			0x00,	// out mask
			0x00,	// int mask
			0xff,	// invert mask (inverted)
			0,		// interrupt
		];
	};
};
