#
# Copyright (C) 2017 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



config FS_OP_TIMEOUT_US
	int "File node timeout [us]"
	default 1000000

config ROOTFS_INIT_FILE_SIZE
	int "Initial file size of rootfs files"
	default 512

config KERNEL_DEVFS
	bool "Device file system support"
