#
# Copyright (C) 2019 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_I2C
	bool "i2c driver"
	select AVR_I2C if AVR
	select X86_I2C if X86

if DRIVER_I2C
	config I2C_RAW
		bool "raw i2c device"
		select KERNEL_DEVFS
		default n

	config I2C_RXBUF_SIZE
		int "rx buffer size"
		default 16

	config I2C_DEBUG
		bool "i2c debug messages"
		depends on DRIVER_I2C
		select KERNEL_LOG_DEBUG
		default n
endif # DRIVER_I2C
