#
# Copyright (C) 2019 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_I2C
	bool "I2C driver"
	select KERNEL_DEVFS
	select KERNEL_SIGQUEUE
	select SYS_RINGBUFFER

if DRIVER_I2C
	config I2C_RXBUF_SIZE
		int "Rx buffer size"
		default 16

	config I2C_DEBUG
		bool "Enable debug messages"
		depends on KERNEL_MSG_DEBUG
		default n
endif # DRIVER_I2C
