config KERNEL_IMAGE_BASE
	hex "Kernel image base address"
	default 0x0

config KERNEL_IMAGE_SIZE
	int "Kernel image size"
	default 0

config KERNEL_INITRAMFS_BASE
	hex "Init ram file system base address"
	default 0x0

config KERNEL_INITRAMFS_SIZE
	int "Init ram file system size"
	default 0

config KERNEL_HEAP_BASE
	hex "Kernel heap base address"
	default 0x0

config KERNEL_HEAP_SIZE
	int "Kernel heap size"
	default 0

config KERNEL_PROC_BASE
	hex "Process heap base address"
	default 0x0

config KERNEL_PROC_SIZE
	int "Process heap size"
	default 0

config KERNEL_STACK_BASE
	hex "Kernel stack base address"
	default 0x0

if KERNEL_VIRT_MEM
	choice
		prompt "Kernel/Thread stack size"

		config KERNEL_STACK_SIZE_4k
			bool "4k"

		config KERNEL_STACK_SIZE_16k
			bool "16k"

		config KERNEL_STACK_SIZE_64k
			bool "64k"

		config KERNEL_STACK_SIZE_256k
			bool "256k"

		config KERNEL_STACK_SIZE_1M
			bool "1M"

		config KERNEL_STACK_SIZE_4M
			bool "4M"

		config KERNEL_STACK_SIZE_16M
			bool "16M"

		config KERNEL_STACK_SIZE_64M
			bool "64M"

		config KERNEL_STACK_SIZE_256M
			bool "256M"

		config KERNEL_STACK_SIZE_1G
			bool "1G"
	endchoice
	
	menu "Hidden"
		visible if 0

		config KERNEL_STACK_SIZE
			int "Thread stack size"
			default 0	if KERNEL_STACK_SIZE_4k
			default 1	if KERNEL_STACK_SIZE_16k
			default 2	if KERNEL_STACK_SIZE_64k
			default 3	if KERNEL_STACK_SIZE_256k
			default 4	if KERNEL_STACK_SIZE_1M
			default 5	if KERNEL_STACK_SIZE_4M
			default 6	if KERNEL_STACK_SIZE_16M
			default 7	if KERNEL_STACK_SIZE_64M
			default 8	if KERNEL_STACK_SIZE_256M
			default 9	if KERNEL_STACK_SIZE_1G
	endmenu
endif # KERNEL_VIRT_MEM

if KERNEL_NO_VIRT_MEM
	config KERNEL_STACK_SIZE
		int "Thread stack size"
		default 4096
endif # KERNEL_NO_VIRT_MEM

config KMALLOC_ALIGN
	int "Alignment to be used for kernel level memory allocators (has to be a power of 2)"
	default 4
