#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



config STACK_SIZE
	int "thread stack size"
	default 1024

config KMALLOC_ALIGN
	int "alignment to be used for kernel level memory allocators (has to be a power of 2)"
	default 4
