#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menu "commands"
	config INIT_HELP
		bool "help"

	config INIT_CD
		bool "cd"

	config INIT_LS
		bool "ls"

	config INIT_ECHO
		bool "echo"
		select LIB_GETOPT

	config INIT_CAT
		bool "cat"
		select LIB_GETOPT

	config INIT_MKDIR
		bool "mkdir"

	config INIT_RM
		bool "rm"

	config INIT_EXIT
		bool "exit"

	config INIT_SLEEP
		bool "sleep"

	config INIT_PINSAMPLER
		bool "pinsampler"
		select SYS_RINGBUFFER

	config INIT_PWMCTRL
		bool "pwmctrl"

	config INIT_I2CCFG
		bool "i2ccfg"

	config INIT_ETHERNET
		bool "ethernet"
		select LIB_GETOPT

	config INIT_GFXDEMO
		bool "gfx demo"
		select LIB_GFX

	config INIT_SENSORCAT
		bool "sensorcat"

	config INIT_TEST
		bool "test"
		select LIB_GETOPT

	config INIT_TEST_UNIT
		bool "include unit tests"
		depends on INIT_TEST
endmenu

config LINE_MAX
	int "max. length of input lines"
	default 32	if AVR
	default 256
