#
# Copyright (C) 2022 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_VRAM
	bool "Video ram"
	select KERNEL_DEVFS

if DRIVER_VRAM
	config VRAM_RAW
		bool "devfs device driver"
endif # DRIVER_VRAM
