menuconfig DRIVER_TERM
	bool "Terminal driver"
	select KERNEL_DEVFS
	select KERNEL_SIGNAL
	select SYS_RINGBUFFER

if DRIVER_TERM
	config TERM_RXBUF_SIZE
		int "Rx buffer size"
		default 16
endif # DRIVER_TERM
