/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


// interrupts
//  35 hardwares
//   1 syscall
//   1 instruction overflow
num-ints = 37;
num-vints = 0
#ifdef CONFIG_BRIDGE_I2C_ITF
	+ 2
#endif // CONFIG_BRIDGE_I2C_ITF

#ifdef CONFIG_BRIDGE_UART_DEV
	+ 2
#endif // CONFIG_BRIDGE_UART_DEV
;

