/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



i2c0 = {
	compatible = "avr,i2c";

	/* i2c hardware (dt_data_t) */
	baseaddr = 0xb8;

	reg = [ 0x64 ];				// PRRO
	int<8> = [ 0x80 ];			// PRR0_PRTWI

	/* i2c config (i2c_cfg_t) */
	int<8> = [ 1 ];				// mode (master)
	int<16> = [ 100 ];			// clock (100kHz)
	int<8> = [
	   1,						// broadcast (enabled)
	   1,						// address
	   0,						// interrupt
	];

	brdg0-right = {
		compatible = "bridge,i2c-itf";

		/* bridge config (bridge_cfg_t) */
		int<8> = [
			0,					// id
			2,					// chunksize
			(arch.num-ints++),	// rx interrupt
			(arch.num-ints++),	// tx interrupt
		];
	};
};
