/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <avr.dts>
#include <bridge.dts>
#include <i2c.dts>


i2c0 = {
	compatible = "avr,i2c";

	avr_i2c_dtd(
		0xb8,	// register base
		0x64,	// PRRO
		0x80	// PRR0_PRTWI
	)

	i2c-bus0 = {
		compatible = "i2c";

		i2c_cfg_t(
			100,	// clock (100kHz)
			16,		// address
			0		// interrupt
		)

		brdg0-right = {
			compatible = "bridge,i2c-itf";

			bridge_cfg_t(
				0,					// id
				2,					// chunksize
				(arch.num-ints++),	// rx interrupt
				(arch.num-ints++)	// tx interrupt
			)
		};
	};
};
