/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



uart1 = {
	compatible = "avr,uart";

	/* uart hardware (dt_data_t) */
	baseaddr = 0xc8;		// uart1 config register base

	reg = [ 0x64 ];			// PRR0
	int<8> = [ 0x10 ];		// PRR0_PRUSART1

	int<8> = [
		28,					// rx interrupt (uart1)
		30,					// tx interrupt (uart1)
	];

	// cfg (uart_cfg_t)
	int<32> = [ 115200 ];	// baudrate
	int<8> = [
		0,					// stop bits (1)
		0,					// parity (UART_PARITY_NONE)
		3,					// csize (UART_CS_8)
	];

	brdg0-left = {
		compatible = "bridge,uart-itf";

		/* bridge config (bridge_cfg_t) */
		int<8> = [
			0,				// id
			2,				// chunksize
			0,				// rx interrupt
			0,				// tx interrupt
		];
	};
};
