/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <avr.dts>


eeprom0 = {
	compatible = "avr,eeprom";

	avr_eeprom_dtd(
		0x3f,	// eeprom register base
		0x0,	// base address
		4096,	// size
		25		// interrupt (eeprom)
	)
};
