/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


i2c0 = {
	compatible = "avr,i2c";

	/* i2c hardware (dt_data_t) */
	baseaddr = 0xb8;

	reg = [ 0x64 ];	  	// PRRO
	int<8> = [ 0x80 ];	// PRR0_PRTWI

	/* i2c config (i2c_cfg_t) */
	int<8> = [ 1 ];		// mode (master)
	int<16> = [ 100 ];	// clock (100kHz)
	int<8> = [
	   1,				// broadcast (enabled)
	   1,				// address
	   26,				// interrupt number
	];

#ifdef CONFIG_I2C_DEVFS_DEV
# include "../common/i2c0-raw.dts"
#endif // CONFIG_I2C_DEVFS_DEV

#ifdef CONFIG_DRIVER_MCP23017
# include "../common/mcp23017.dts"
#endif // CONFIG_DRIVER_MCP23017
};
