/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



spi0 = {
	compatible = "avr,spi";

	/* spi hardware (dt_data_t) */
	baseaddr = 0x4c;	// spi config register base

	reg = [ 0x24 ];		// DDRB
	int<8> = [
		0x40,			// PB6 (MISO)
		0x20,			// PB5 (MOSI)
		0x80,			// PB7 (SCK)
	];

	reg = [ 0x64 ];		// PRRO
	int<8> = [ 0x4 ];	// PRR0_PRSPI

	int<8> = [ 19 ];	// interrupt number

	tty1 = {
		compatible = "terminal";

		/* terminal config (spi_cfg_t) */
		int<8> = [
			1,					// device mode (master)
			0,					// sample mode (CPOL = 0, CPHA = 0)
			0,					// data order (MSB first)
			1,					// prescaler (4)
			0,					// iflags (none)
			0,					// oflags (none)
			0,					// lflags (none)
		];
	};
};
