#
# Copyright (C) 2017 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menu stdlib
	source lib/stdlib/Kconfig
endmenu

menu stdio
	source lib/stdio/Kconfig
endmenu

menuconfig LIB_GFX
	bool "graphics library"
	select FONTS

if LIB_GFX
	config GFX_INT_WIDTH
		int "integer type width"
		default 16
endif

config LIB_GETOPT
	bool "getopt library"
	default n

menu "hidden"
	visible if 0

	config LIB_MUTEX
		bool "mutex"
		select SC_SCHED		# mutex requires thread_info()
		default n
endmenu
