#
# stdlib
#
# {{{
menu stdlib
	config MALLOC_MIN_SIZE
		int "Minimum size to be used for malloc syscalls"
		default 128
endmenu
# }}}

# stdio
#
# {{{
menu stdio
	config FILE_BUF_SIZE
		int "Buffer size for FILE structures"
		default 16
endmenu
# }}}
