#
# Copyright (C) 2017 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menu stdlib
	source lib/stdlib/Kconfig
endmenu

menu stdio
	source lib/stdio/Kconfig
endmenu

config LIB_GETOPT
	bool "getopt library"
	default n

menu "Hidden"
	visible if 0

	config LIB_MUTEX
		bool "Mutex"
		select SC_SCHED		# mutex requires thread_info()
		default n
endmenu
