#
# Copyright (C) 2017 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_LOOPBACK
	bool "loopback"

if DRIVER_LOOPBACK
	config LOOP_BLOCK
		bool "loopback block device"
		select KERNEL_DEVFS

	config LOOP_TERM
		bool "loopback terminal"
		select SYS_RINGBUFFER

	config LOOP_VRAM
		bool "loopback video ram"
		select KERNEL_DEVFS

	config LOOP_DEBUG
		bool "enable debug messages"
		select KERNEL_LOG_DEBUG
		default n
endif # DRIVER_LOOPBACK
