#
# Copyright (C) 2017 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_LOOPBACK
	bool "Loopback"

if DRIVER_LOOPBACK
	config LOOP_BLOCK
		bool "Loopback block device"
		select KERNEL_DEVFS

	config LOOP_TERM
		bool "Loopback terminal"
		select SYS_RINGBUFFER

	config LOOP_VRAM
		bool "Loopback video ram"

	config LOOP_DEBUG
		bool "Enable debug messages"
		depends on KERNEL_MSG_DEBUG
		default n
endif # DRIVER_LOOPBACK
