#
# Copyright (C) 2018 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



choice
	prompt "scheduler type"

	config SCHED_PREEMPTIVE
		bool "preemptive"
		select KTIMER

	config SCHED_COOPERATIVE
		bool "cooperative"
endchoice

config SCHED_KTIMER_MUL
	int "kernel timer scheduler multiple"
	depends on SCHED_PREEMPTIVE
	default 1

config SCHED_PRIO_DEFAULT
	int "default process priority"
	default 0
