/**
 * Copyright (C) 2019 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



memory = {
	flash = {
		baseaddr = 0x0;
		size = 131072;

		kernel-flash = {
			baseaddr = 0x0;
			size = 49152;
		};

		app-flash = {
			baseaddr = 0x0000c000;
			size = 81920;
		};
	};

	ram = {
		baseaddr = 0x00800000;
		size = 16640;

		registers = {
			baseaddr = 0x00800000;
			size = 256;
		};

		kernel-data = {
			baseaddr = 0x00800100;
			size = 4864;
		};

		kernel-heap = {
			baseaddr = 0x00801400;
			size = 2560;
		};

		kernel-stack = {
			baseaddr = 0x00801e00;
			size = 768;
		};

		app-heap = {
			baseaddr = 0x00802100;
			size = 2560;
		};

		app-data = {
			baseaddr = 0x00802b00;
			size = 5632;
		};
	};
};

devices = {
	uart0 = {
		compatible = "avr,uart";

		/**
		 * uart hardware description
		 * 	has to match the device tree data type
		 *	of the avr uart driver
		 */
		baseaddr = 0xc0;			// uart0 config register base

		reg = [ 0x64 ];				// PRR0
		int<8> = [ 0x2 ];			// PRR0_PRUSART0

		int<8> = [
			20,						// uart0 rx interrupt
			22						// uart0 tx interrupt
		];

		tty0 = {
			compatible = "terminal";

			/**
			 * terminal configuration
			 * 	has to match the configuration data type of
			 * 	the underlying device driver
			 */
			int<32> = [ 115200 ];	// baudrate
			int<8> = [
				1,					// stop bits (1)
				0,					// parity (TPARITY_NONE)
				3,					// csize (TCS_8)
				0x1,				// iflags (TIFL_CRNL)
				0x2,				// oflags (TOFL_NLCR)
				0x0					// lflags (none)
			];

			klog = {
				compatible = "kernel,log";
			};
		};
	};

	uart1 = {
		compatible = "avr,uart";

		/**
		 * uart hardware description
		 * 	has to match the device tree data type
		 *	of the avr uart driver
		 */
		baseaddr = 0xc8;			// uart1 config register base

		reg = [ 0x64 ];				// PRR0
		int<8> = [ 0x10 ];			// PRR0_PRUSART1

		int<8> = [
			0,						// uart1 rx interrupt
			0						// uart1 tx interrupt (disabled)
		];

		bridge0-left = {
			compatible = "bridge,uart";

			/* bridge config */
			int<8> = [
				0,					// id
				1,					// chunksize_e
				0,					// rx interrupt
				0					// tx interrupt
			];

			/* terminal config */
			int<32> = [ 115200 ];	// baudrate
			int<8> = [
				1,					// stop bits (1)
				0,					// parity (TPARITY_NONE)
				3,					// csize (TCS_8)
				0x0,				// iflags (none)
				0x0,				// oflags (none)
				0x0					// lflags (none)
			];
		};
	};

	bridge0-right = {
		compatible = "bridge,terminal";

		/**
		 * bridge hardware description
		 *	has to match bridge_cfg_t
		 */
		/* bridge config */
		int<8> = [
			0,					// id
			1,					// chunksize_e
			0,					// rx interrupt
			0					// tx interrupt
		];

		/* terminal config */
		int<32> = [ 115200 ];	// baudrate
		int<8> = [
			1,					// stop bits (1)
			0,					// parity (TPARITY_NONE)
			3,					// csize (TCS_8)
			0x0,				// iflags (none)
			0x0,				// oflags (none)
			0x0					// lflags (none)
		];

		b0 = {
			compatible = "terminal";

			/**
			 * terminal configuration
			 * 	has to match the configuration data type of
			 * 	the underlying device driver uart_cfg_t
			 */
			int<32> = [ 115200 ];	// baudrate
			int<8> = [
				1,					// stop bits (1)
				0,					// parity (TPARITY_NONE)
				3,					// csize (TCS_8)
				0x0,				// iflags (none)
				0x0,				// oflags (none)
				0x0					// lflags (none)
			];
		};
	};
};
