/**
 * Copyright (C) 2023 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>
#include <loop.dts>
#include <rp2040.dts>
#include "common/looptty.dts"


arch = {
	addr-width = 32;
	reg-width = 32;

	ncores = 1;

	// interrupts
	num-ints = 42;
	timer-int = 15;
	syscall-int = 11;
	ipi-int = 31;

	timer-cycle-time-us = 125000;

	rp2040_platform(
		12000,		// crystal clock [kHz]

		// system pll (133 MHz)
		rp2040_pll_cfg_t(
			1,		// reference clock divider
			6,		// post divider 1
			2,		// post divider 2
			133		// feedback divider
		),

		// usb pll (48 MHz)
		rp2040_pll_cfg_t(
			1,		// reference clock divider
			6,		// post divider 1
			4,		// post divider 2
			96		// feedback divider
		),

		// gpio function selection
		rp2040_gpio_funcsel(
			2,		// gpio0 (uart0 tx)
			2,		// gpio1 (uart0 rx)
			31,		// gpio2 (reset)
			31,		// gpio3 (reset)
			5,		// gpio4 (sio)
			5,		// gpio5 (sio)
			5,		// gpio6 (sio)
			5,		// gpio7 (sio)
			31,		// gpio8 (i2c0)
			31,		// gpio9 (i2c0)
			31,		// gpio10 (reset)
			31,		// gpio11 (reset)
			31,		// gpio12 (reset)
			31,		// gpio13 (reset)
			31,		// gpio14 (reset)
			5,		// gpio15 (sio)
			3,		// gpio16 (i2c0)
			3,		// gpio17 (i2c0)
			31,		// gpio18 (reset)
			31,		// gpio19 (reset)
			31,		// gpio20 (reset)
			31,		// gpio21 (reset)
			31,		// gpio22 (reset)
			31,		// gpio23 (reset)
			31,		// gpio24 (reset)
			5,		// gpio25 (sio)
			31,		// gpio26 (reset)
			31,		// gpio27 (reset)
			31,		// gpio28 (reset)
			31,		// gpio29 (reset)
		),
		1			// gpio voltage select (3.3v)
	);
};

memory = {
	flash = {
		baseaddr = 0x10000000;
		size = 2097152;

		kernel-flash = {
			baseaddr = 0x10000000;
			size = 1048576;
		};

		app-flash = {
			baseaddr = 0x10100000;
			size = 1048576;
		};
	};

	ram = {
		baseaddr = 0x20000000;
		size = 270336;

		kernel-data = {
			baseaddr = 0x20000000;
			size = 32768;
		};

		app-data = {
			baseaddr = 0x20008000;
			size = 32768;
		};

		heap = {
			baseaddr = 0x20010000;
			size = 204800;
		};
	};
};

devices = {
#include "rp2040/uart0.dts"

#ifdef CONFIG_LOOP_BLOCK
	loop(
		0,	// loop name
		32	// buffer size
	);
#endif // CONFIG_LOOP_BLOCK

#ifdef CONFIG_LOOP_TERM
	tty_loop(
		0,		// loop name
		1,		// term name
		loop0	// tty name
	);
#endif // CONFIG_LOOP_TERM

#ifdef CONFIG_DRIVER_GPIO
# include "rp2040/gpio.dts"
#endif // CONFIG_DRIVER_GPIO

#ifdef CONFIG_DRIVER_I2C
# include "rp2040/i2c.dts"
#endif // CONFIG_DRIVER_I2C
};
