/**
 * Copyright (C) 2020 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


memory = {
#include "x86/memory.dts"
};

devices = {
#include "x86/uart0.dts"
#include "common/loop0.dts"

#ifdef CONFIG_DRIVER_GPIO
# include "x86/gpio.dts"
#endif // CONFIG_DRIVER_GPIO

#ifdef CONFIG_DRIVER_BRIDGE
# include "x86/bridge0-uart.dts"

# ifdef CONFIG_BRIDGE_UART_DEV
#  include "x86/bridge0-term.dts"
# endif // CONFIG_BRIDGE_UART_DEV

# ifdef CONFIG_BRIDGE_I2C_DEV
#  include "x86/bridge0-i2c.dts"
# endif // CONFIG_BRIDGE_I2C_DEV
#endif // CONFIG_DRIVER_BRIDGE
};
