/**
 * Copyright (C) 2020 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



memory = {
	ram = {
		baseaddr = 0x00400000;
		size = 44044288;

		text = {
			baseaddr = 0x00400000;
			size = 20971520;
		};

		kernel-heap = {
			baseaddr = 0x01800000;
			size = 1048576;
		};

		kernel-stack = {
			baseaddr = 0x01900000;
			size = 4096;
		};

		app-heap = {
			baseaddr = 0x01901000;
			size = 1048576;
		};

		app-data = {
			baseaddr = 0x1a01000;
			size = 20971520;
		};
	};
};

devices = {
	uart0 = {
		compatible = "x86,uart";

		/**
		 * uart hardware description
		 * 	has to match the device tree data type
		 *	of the x86 uart driver
		 */
		string = "/dev/stdin";		// path
		int<8> = [
			3						// rx interrupt
		];

		tty0 = {
			compatible = "terminal";

			/**
			 * terminal configuration
			 * 	has to match the configuration data type of
			 * 	the underlying device driver
			 */
			int<32> = [ 115200 ];	// baudrate
			int<8> = [
				1,					// stop bits (1)
				0,					// parity (TPARITY_NONE)
				3,					// csize (TCS_8)
				0x1,				// iflags (TIFL_CRNL)
				0x2,				// oflags (TOFL_NLCR)
				0x0					// lflags (none)
			];

			klog = {
				compatible = "kernel,log";
			};
		};
	};
};
