/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


arch = {
#include "avr/arch-xplained-mega.dts"
};

memory = {
#include "avr/memory-atmega1284p.dts"
};

devices = {
#include "avr/uart0.dts"
};
