#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



#
# processor type and features menus
#
# {{{
choice
	prompt "processor type"

	config AVR
		bool "aVR"
		select NOFLOAT
		select KERNEL_NO_VIRT_MEM

	config X86
		bool "x86 (host test)"
		select NOFLOAT
		select KERNEL_NO_VIRT_MEM
		select ADDR_WIDTH_64
		select REGISTER_WIDTH_64
endchoice

menu "processor features"
	if AVR
		source "arch/avr/Kconfig"
	endif

	if X86
		source "arch/x86/Kconfig"
	endif
endmenu

menu "hidden"
	visible if 0

	config ARCH
		string "architecture"
		default "avr"	if AVR
		default "x86"	if X86
	
	config PROCESSOR
		string "processor"
		default AVR_MCU	if AVR
		default "x86"	if X86

	config ADDR_WIDTH_8
		bool "8-bit"

	config ADDR_WIDTH_16
		bool "16-bit"

	config ADDR_WIDTH_32
		bool "32-bit"

	config ADDR_WIDTH_64
		bool "64-bit"

	config ADDR_WIDTH
		int "address width"
		default 8	if ADDR_WIDTH_8
		default 16	if ADDR_WIDTH_16
		default 32	if ADDR_WIDTH_32
		default 64	if ADDR_WIDTH_64
		default 64

	config REGISTER_WIDTH_8
		bool "8-bit"

	config REGISTER_WIDTH_16
		bool "16-bit"

	config REGISTER_WIDTH_32
		bool "32-bit"

	config REGISTER_WIDTH_64
		bool "64-bit"

	config REGISTER_WIDTH
		int "address width"
		default 8	if REGISTER_WIDTH_8
		default 16	if REGISTER_WIDTH_16
		default 32	if REGISTER_WIDTH_32
		default 64	if REGISTER_WIDTH_64
		default 64

	config NOFLOAT
		bool "enable floating point support"
		default n
endmenu
# }}}

#
# generic configs
#
# {{{
config NCORES
	int "number of cores"
	default 1

config CORE_MASK
	hex "core mask"
	range 0x1 0x0fffffff
	default 0x1

config DEVICE_TREE
	string "device tree script"
	default "scripts/dts/$(CONFIG_PROCESSOR).dts"
# }}}
