#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



#
# processor type and features menus
#
# {{{
choice
	prompt "processor type"

	config AVR
		bool "avr"
		select NOFLOAT
		select KERNEL_NO_VIRT_MEM

	config X86
		bool "x86 (host test)"
		select NOFLOAT
		select KERNEL_NO_VIRT_MEM
endchoice

menu "processor features"
	if AVR
		source "arch/avr/Kconfig"
	endif

	if X86
		source "arch/x86/Kconfig"
	endif
endmenu

menu "hidden"
	visible if 0

	config ARCH
		string "architecture"
		default "avr"	if AVR
		default "x86"	if X86
	
	config PROCESSOR
		string "processor"
		default AVR_MCU	if AVR
		default "x86"	if X86

	config ARCH_HEADER
		string "arch header"
		default "<arch/$(CONFIG_ARCH)/atmega.h>"	if AVR
		default "<arch/$(CONFIG_ARCH)/x86.h>"		if X86

	config NOFLOAT
		bool "enable floating point support"
		default n
endmenu
# }}}

#
# generic configs
#
# {{{
config NCORES
	int "number of cores"
	default 1

config CORE_MASK
	hex "core mask"
	range 0x1 0x0fffffff
	default 0x1

config DEVICE_TREE
	string "device tree script"
	default "scripts/dts/$(CONFIG_PROCESSOR).dts"
# }}}
