#
# Copyright (C) 2019 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



config I2C_AVR_INTERRUPT
	bool "Interrupt support"
	default y

config I2C_AVR_POLLING
	bool "Polling support"
	default n
