#
# Copyright (C) 2021 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



menuconfig DRIVER_BRIDGE
	bool "bridge driver"
	select KERNEL_SIGNAL
	select KERNEL_INTTASK
	select SYS_RINGBUFFER

if DRIVER_BRIDGE
	config BRIDGE_UART_DEV
		bool "uART bridge device"

	config BRIDGE_UART_ITF
		bool "uART bridge interface"

	config BRIDGE_I2C_DEV
		bool "i2c bridge device"

	config BRIDGE_I2C_ITF
		bool "i2c bridge interface"

	config BRIDGE_I2C_INLINE_DATA
		int "i2c bridge inline data size [bytes]"
		range 1 128
		default 8
		depends on BRIDGE_I2C_DEV || BRIDGE_I2C_ITF

	config BRIDGE_RETRY_LIMIT
		int "number of tolerated errors before aborting a transmission"
		default 3

	config BRIDGE_DEBUG
		bool "enable debug messages"
		select KERNEL_LOG_DEBUG
		default n

	config BRIDGE_DEBUG_PROTOCOL
		bool "enable protocol debug messages"
		select BRIDGE_DEBUG
		default n
endif # DRIVER_BRIDGE
