#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



source driver/loop/Kconfig
source driver/bme280/Kconfig
source driver/esp8266/Kconfig
source driver/mcp23017/Kconfig
source driver/ssd1306/Kconfig
source driver/x11/Kconfig

#
# interfaces
#

source driver/bridge/Kconfig
source driver/i2c/Kconfig
source driver/gpio/Kconfig
source driver/term/Kconfig
source driver/vram/Kconfig

#
# platform
#
menu "platform drivers (avr)"
	depends on AVR
	source driver/avr/Kconfig
endmenu

menu "platform drivers (x86)"
	depends on X86
	source driver/x86/Kconfig
endmenu

menu "hidden"
	visible if 0

	config DRIVER_UART
		bool "uart driver"
		select AVR_UART if AVR
		select X86_UART if X86
endmenu
