#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



source driver/loop/Kconfig
source driver/term/Kconfig
source driver/uart/Kconfig
source driver/gpio/Kconfig
source driver/pwm/Kconfig
source driver/spi/Kconfig
source driver/eeprom/Kconfig
source driver/i2c/Kconfig
