if SC_DYNMEM
	config MALLOC_MIN_SIZE
		int "Minimum size to be used for malloc syscalls"
		default 128

	config MALLOC_ALIGN
		int "Alignment to be used for malloc (has to be a power of 2)"
		default 4
endif # SC_DYNMEM
