#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



#
# MCU
#
# {{{
choice
	prompt "Target MCU"
		
	config ATMEGA1284P
		bool "Atmega1284P"
		select ADDR_WIDTH_16
		select REGISTER_WIDTH_8
		select AVR_ISA_AVR51
		select AVR_ATMEGA
		select AVR_NPORTS_4

	config ATMEGA88PA
		bool "Atmega88PA"
		select ADDR_WIDTH_16
		select REGISTER_WIDTH_8
		select AVR_ISA_AVR4
		select AVR_ATMEGA
		select AVR_NPORTS_4
endchoice

menu "Hidden"
	visible if 0

	config AVR_MCU
		string "MCU"
		default "atmega1284p" if ATMEGA1284P
		default "atmega88pa" if ATMEGA88PA
		default "unknown MCU"

	config AVR_ISA_AVR4
		bool "AVR4"

	config AVR_ISA_AVR51
		bool "AVR51"

	config AVR_ISA
		string "ISA"
		default "avr4" if AVR_ISA_AVR4
		default "avr51" if AVR_ISA_AVR51

	config AVR_ATMEGA
		bool "Atmega MCU"
		default n

	config AVR_XMEGA
		bool "Xmega MCU"
		default n

	config AVR_NPORTS_1
		bool "1 I/O port"

	config AVR_NPORTS_2
		bool "2 I/O ports"
		select AVR_NPORTS_1

	config AVR_NPORTS_3
		bool "3 I/O ports"
		select AVR_NPORTS_2

	config AVR_NPORTS_4
		bool "4 I/O ports"
		select AVR_NPORTS_3

	config AVR_NPORTS_5
		bool "5 I/O ports"
		select AVR_NPORTS_4

	config AVR_NPORTS_6
		bool "6 I/O ports"
		select AVR_NPORTS_5

	config AVR_NPORTS
		int "Number of I/O ports"
		default 1 if AVR_NPORTS_1 && !AVR_NPORTS_2
		default 2 if AVR_NPORTS_2 && !AVR_NPORTS_3
		default 3 if AVR_NPORTS_3 && !AVR_NPORTS_4
		default 4 if AVR_NPORTS_4 && !AVR_NPORTS_5
		default 5 if AVR_NPORTS_5 && !AVR_NPORTS_6
		default 6 if AVR_NPORTS_6
		default 0

	# architecture defining header
	config ARCH_HEADER
		string "Arch Header"
		default "<arch/$(CONFIG_ARCH)/atmega.h>" if AVR
endmenu
# }}}

#
# clock system
#
# {{{
menu "Clock System"
	config SYSTEM_CLOCK_HZ
		int "System clock [HZ]"
		default 1000000

	choice
		prompt "System clock prescaler"
		help
			Prescaler value that shall be applied to the selected clock source to
			achieve the configured system clock.

		config SYSTEM_CLOCK_PRESCALER_1
			bool "System clock prescaler 1"

		config SYSTEM_CLOCK_PRESCALER_2
			bool "System clock prescaler 2"

		config SYSTEM_CLOCK_PRESCALER_4
			bool "System clock prescaler 4"

		config SYSTEM_CLOCK_PRESCALER_8
			bool "System clock prescaler 18"

		config SYSTEM_CLOCK_PRESCALER_16
			bool "System clock prescaler 16"

		config SYSTEM_CLOCK_PRESCALER_32
			bool "System clock prescaler 32"

		config SYSTEM_CLOCK_PRESCALER_64
			bool "System clock prescaler 64"

		config SYSTEM_CLOCK_PRESCALER_128
			bool "System clock prescaler 128"

		config SYSTEM_CLOCK_PRESCALER_256
			bool "System clock prescaler 256"
	endchoice

	menu "Hidden"
		visible if 0

		config SYSTEM_CLOCK_PRESCALER
			int "System clock prescaler"
			default 0 if SYSTEM_CLOCK_PRESCALER_1
			default 1 if SYSTEM_CLOCK_PRESCALER_2
			default 2 if SYSTEM_CLOCK_PRESCALER_4
			default 3 if SYSTEM_CLOCK_PRESCALER_8
			default 4 if SYSTEM_CLOCK_PRESCALER_16
			default 5 if SYSTEM_CLOCK_PRESCALER_32
			default 6 if SYSTEM_CLOCK_PRESCALER_64
			default 7 if SYSTEM_CLOCK_PRESCALER_128
			default 8 if SYSTEM_CLOCK_PRESCALER_256
	endmenu
endmenu
#  }}}

#
# scheduler/timer
#
# {{{
choice
	prompt "Timer interrupt"

	config TIMER_INT_WATCHDOG
		bool "WATCHDOG"
endchoice

menu "Hidden"
	visible if 0

	config TIMER_INT
		string "Scheduler/timer interrupt"
		default "INT_WATCHDOG"	if	TIMER_INT_WATCHDOG
endmenu
# }}}

#
# sleep modes
#
# {{{
choice
	prompt "Sleep mode"

	config SLEEPMODE_IDLE
		bool "idle"

	config SLEEPMODE_ADCNR
		bool "adc noice reduction"

	config SLEEPMODE_PWRDWN
		bool "power down"

	config SLEEPMODE_PWRSAVE
		bool "power save"

	config SLEEPMODE_STANDBY
		bool "standby"

	config SLEEPMODE_EXTSTANDBY
		bool "extended standby"
endchoice
# }}}

#
# debug
#
# {{{
menu Debugging
	config IOVERFLOW_DET
		bool "Instruction overflow detection"
		default n
		help
			Trigger an exception if instructions are executed from unused
			parts of the flash memory.
endmenu
# }}}
