#
# Copyright (C) 2016 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



#
# MCU
#
# {{{
choice
	prompt "target mcu"
		
	config ATMEGA1284P
		bool "atmega1284p"
		select AVR_ISA_AVR51
		select AVR_RAMPZ
		select AVR_ATMEGA
endchoice

menu "hidden"
	visible if 0

	config AVR_MCU
		string "mcu"
		default "atmega1284p" if ATMEGA1284P
		default "unknown mcu"

	config AVR_ISA_AVR4
		bool "avr4"

	config AVR_ISA_AVR51
		bool "avr51"

	config AVR_ISA
		string "isa"
		default "avr4"	if AVR_ISA_AVR4
		default "avr51"	if AVR_ISA_AVR51

	config AVR_RAMPZ
		bool "rampz"
		default n

	config AVR_ATMEGA
		bool "atmega mcu"
		default n

	config AVR_XMEGA
		bool "xmega mcu"
		default n
endmenu
# }}}

#
# sleep modes
#
# {{{
choice
	prompt "sleep mode"

	config SLEEPMODE_IDLE
		bool "idle"

	config SLEEPMODE_ADCNR
		bool "adc noice reduction"

	config SLEEPMODE_PWRDWN
		bool "power down"

	config SLEEPMODE_PWRSAVE
		bool "power save"

	config SLEEPMODE_STANDBY
		bool "standby"

	config SLEEPMODE_EXTSTANDBY
		bool "extended standby"
endchoice
# }}}

#
# debug
#
# {{{
menu Debugging
	config IOVERFLOW_DET
		bool "instruction overflow detection"
		default n
		help
			Trigger an exception if instructions are executed from unused
			parts of the flash memory.
endmenu
# }}}
