#
# Copyright (C) 2020 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



config TEST_INT_KERNEL_IMAGE
	qstring "Default kernel image"
	default "recent/kernel/kimg.elf"

config TEST_INT_APP_BINARY
	qstring "Default application binary"
	default "recent/init/init.elf"

config TEST_INT_FS_EXPORT_ROOT
	qstring "Directory to export the brickos file system to"
	default "recent/test/integration/brickos-fs-export"

config TEST_INT_DATA_PIPE_RD
	int "Host test data pipe input fileno"
	default 17

config TEST_INT_DATA_PIPE_WR
	int "Host test data pipe output fileno"
	default 18

config TEST_INT_CTRL_PIPE_RD
	int "Host test control pipe input fileno"
	default 19

config TEST_INT_CTRL_PIPE_WR
	int "Host test control pipe output fileno"
	default 20

config TEST_INT_DATA_SIG
	int "Host test data signal"
	range 34 64
	default 34

config TEST_INT_CTRL_SIG
	int "Host test control signal"
	range 34 64
	default 35

config TEST_INT_CONT_SIG
	int "Host continue signal SIGCONT"
	default 18
