#
# Copyright (C) 2020 Jan Nowotsch
# Author Jan Nowotsch	<jan.nowotsch@gmail.com>
#
# Released under the terms of the GNU GPL v2.0
#



config TEST_INT_KERNEL_IMAGE
	qstring "default kernel image"
	default "recent/kernel/kimg.elf"

config TEST_INT_APP_BINARY
	qstring "default application binary"
	default "recent/init/init.elf"

config TEST_INT_FS_EXPORT_ROOT
	qstring "directory to export the brickos file system to"
	default "recent/test/integration/brickos-fs-export"

config TEST_INT_HW_PIPE_RD
	int "host test data pipe input fileno"
	default 17

config TEST_INT_HW_PIPE_WR
	int "host test data pipe output fileno"
	default 18

config TEST_INT_USR_PIPE_RD
	int "host test control pipe input fileno"
	default 19

config TEST_INT_USR_PIPE_WR
	int "host test control pipe output fileno"
	default 20

config TEST_INT_HW_SIG
	int "host test signal for hardware operations"
	range 34 64
	default 35

config TEST_INT_USR_SIG
	int "host test signal for user operations"
	range 34 64
	default 34

config TEST_INT_CONT_SIG
	int "host test continue signal SIGCONT"
	default 18

config TEST_INT_UART_SIG
	int "host test uart signal"
	default 10
