/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



brdg0-right-uart = {
	compatible = "bridge,uart-dev";

	/* bridge config (bridge_cfg_t) */
	int<8> = [
		0,						// id
		2,						// chunksize
		6,						// rx interrupt
		7,						// tx interrupt
	];

	tty-bridge0 = {
		compatible = "terminal";

		/* terminal config (uart_cfg_t) */
		int<32> = [ 115200 ];	// baudrate
		int<8> = [
			1,					// stop bits (1)
			0,					// parity (TPARITY_NONE)
			3,					// csize (TCS_8)
			0x0,				// iflags (none)
			0x0,				// oflags (none)
			0x0,				// lflags (none)
		];
	};
};
