/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


brdg0-right-i2c = {
	compatible = "bridge,i2c-dev";

	/* bridge config (bridge_cfg_t) */
	int<8> = [
		0,				// id
		2,				// chunksize
		0,				// rx interrupt
		0,				// tx interrupt
	];

	// hwcfg (i2c_cfg_t)
	int<8> = [ 1 ];		// mode (master)
	int<16> = [ 0 ];	// clock (0kHz)
	int<8> = [
	   0,				// broadcast (disabled)
	   0,				// address
	   0,				// interrupt
	];

#ifdef CONFIG_I2C_RAW
# include "../common/i2c0-raw.dts"
#endif // CONFIG_I2C_RAW

#ifdef CONFIG_DRIVER_BME280
# include "../common/bme280.dts"
#endif // CONFIG_DRIVER_BME280

#ifdef CONFIG_DRIVER_MCP23017
# include "../common/mcp23017.dts"
#endif // CONFIG_DRIVER_MCP23017

#ifdef CONFIG_DRIVER_SSD1306
# include "../common/ssd1306.dts"
#endif // CONFIG_DRIVER_SSD1306
};
