/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



brdg0-right-uart = {
	compatible = "bridge,itf";

	/* bridge config (bridge_cfg_t) */
	int<8> = [
		0,				// id
		2,				// chunksize
		6,				// rx interrupt (virtual)
		7,				// tx interrupt (virtual)
	];

	brdg0-itf-uart = {
		compatible = "bridge,uart-dev";

		tty-bridge0 = {
			compatible = "terminal";

			/* terminal config (term_cfg_t) */
			int<8> = [
				0x0,		// iflags (none)
				0x0,		// oflags (none)
				0x0,		// lflags (none)
				0,			// tabs
			];

			int<16> = [
				0,			// lines (set by the driver)
				0,			// columns (set by the driver)
			];
		};
	};
};
