/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>
#include <gpio.dts>


port-test = {
	compatible = "x86,gpio";

	gpio = {
		compatible = "gpio,port";

		gpio_cfg_t(
			0x3f,	// in mask
			0xfc,	// out mask
			0x00,	// int mask
			0xff,	// invert mask
			0		// interrupt
		);
	};
};
