/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <config/config.h>


gpio0 = {
	compatible = "x86,gpio";

	/* gpio config (gpio_cfg_t) */
	int<CONFIG_GPIO_INT_WIDTH> = [
		1,		// mode (normal)
		0xff,	// pin mask
		0xff,	// in mask
		0xff,	// out mask
		0x00,	// int mask
		0x00,	// invert mask (pass through)
		0,		// interrupt number
	];
};
