/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



ram = {
	baseaddr = 0x00400000;
	size = 44044288;

	text = {
		baseaddr = 0x00400000;
		size = 20971520;
	};

	kernel-heap = {
		baseaddr = 0x01800000;
		size = 1048576;
	};

	kernel-stack = {
		baseaddr = 0x01900000;
		size = 4096;
	};

	app-heap = {
		baseaddr = 0x01901000;
		size = 1048576;
	};

	app-data = {
		baseaddr = 0x1a01000;
		size = 20971520;
	};
};
