/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



uart0 = {
	compatible = "x86,uart";

	/**
	 * uart hardware description
	 * 	has to match dt_data_t of the x86 uart driver
	 */
	string = "/dev/stdin";		// path
	int<8> = [
		3,						// rx interrupt
		0						// tx interrupt
	];

	tty0 = {
		compatible = "terminal";

		/**
		 * terminal configuration
		 * 	has to match the config data type of the underlying
		 * 	device driver, i.e. uart_cfg_t
		 */
		int<32> = [ 115200 ];	// baudrate
		int<8> = [
			1,					// stop bits (1)
			0,					// parity (TPARITY_NONE)
			3,					// csize (TCS_8)
			0x1,				// iflags (TIFL_CRNL)
			0x2,				// oflags (TOFL_NLCR)
			0x0					// lflags (none)
		];

		klog = {
			compatible = "kernel,log";
		};
	};
};
