/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */




#include <term.dts>
#include <uart.dts>
#include <x86.dts>


uart0 = {
	compatible = "x86,uart";

	x86_uart_dtd(
		"/dev/stdin",	// path
		3,				// rx interrupt (uart0)
		0				// tx interrupt
	)

	uart_cfg_t(
		115200,			// baudrate
		0,				// stop bits (1)
		0,				// parity (UART_PARITY_NONE)
		3				// csize (UART_CS_8)
	)

#ifdef CONFIG_DRIVER_TERM
	term0 = {
		compatible = "terminal";

		term_cfg_t(
			0x1,		// iflags (TIFL_CRNL)
			0x2,		// oflags (TOFL_NLCR)
			0x0,		// lflags (none)
			0			// tabs
		)

		tty0 = {
			compatible = "terminal,raw";
		};

# ifdef CONFIG_KERNEL_LOG
		klog = {
			compatible = "kernel,log";
		};
# endif // CONFIG_KERNEL_LOG
#endif // CONFIG_DRIVER_TERM
	};
};
