/**
 * Copyright (C) 2022 Jan Nowotsch
 * Author Jan Nowotsch	<jan.nowotsch@gmail.com>
 *
 * Released under the terms of the GNU GPL v2.0
 */



#include <term.dts>
#include <vram.dts>
#include <x11.dts>
#include <x86.dts>


x11 = {
	compatible = "x11";

	x11_dtd(
		3			// scale
	)

	x11-vram = {
		compatible = "vram";

		vram_cfg_t(
			64,		// height
			128,	// width
			0x10,	// contrast
			0x0,	// flags (none)
			100		// refresh_ms
		)

		x11-raw = {
			compatible = "vram,raw";
		};

		x11-tty = {
			compatible = "vram,term";

			x11-term = {
				compatible = "terminal";

				term_cfg_t(
					0x0,	// iflags (none)
					0x2,	// oflags (TOFL_NLCR)
					0x1e,	// lflags (TLFL_CURSOR | TLFL_SCROLL | TLFL_WRAP | TLFL_CANON)
					4		// tabs
				)

				x11-tty1 = {
					compatible = "terminal,raw";
				};
			};
		};
	};
};
